# Introduction to pandas

*I'd like to thank Nick Ross who graciously allowed me to derive pieces of this notebook and others from his amazing SQL/pandas course notes.*

Pandas has two primary entities that you must be careful to distinguish to avoid getting confused:

* `DataFrame` is 2D tabular data structure; it has both rows and columns
* `Series` is a 1D array (colume) data structure

While a series looks like  a column from a data frame, they are really separate kinds of objects with different sets of functions that you can apply to them.

Pandas lets you do a lot of querying, merging, and aggregation just like a database, but these dataframes only exist in memory. That means:

* you can only operate on data that fit in memory, as opposed to the disk
* dataframes you construct disappear when you're Python program terminates
* pandas is not suitable for use on problems requiring multiple computers

Pandas dataframes will be your primary data structure until machine learning, when we discuss building more complicated data structures such as decision trees.

## How to start using pandas

First, we have to tell Python that we want to use pandas. I also tell it to import numpy, because I often want to use both of these libraries in conjunction with each other:

In [4]:
import numpy as np
import pandas as pd

Let's load some data from the `data` subdirectory under this `notebooks` directory.  You can download this file onto your own computer wherever you want, but make sure that you specify the appropriate file name when loading it with pandas.

In [5]:
!ls data  # Anything after ! char is sent to Terminal for execution

cars.csv

In a spreadsheet, the start of that file looks like:

<img src="images/excel.png" width="250">

In [6]:
df_cars = pd.read_csv("data/cars.csv")
df_cars.head()

    MPG  CYL    ENG   WGT
0  18.0    8  307.0  3504
1  15.0    8  350.0  3693
2  18.0    8  318.0  3436
3  16.0    8  304.0  3433
4  17.0    8  302.0  3449

### Exercise

0. Launch `jupyter lab` and create a notebook for the exercises in today's class. I like to create a notebooks directory associated with my topic or class and then launch juypter from the terminal in that directory so that I know where files are being created.
1. Download the `cars.csv` file and save it either in the same directory as your notebook or in a `data` subdirectory.  You have to get use to being very organized and paying attention to the structure of your directories when referring to files on the disk.
2. Import pandas and read in the `cars.csv` file into a data frame called `df_cars`, just to be consistent with your fellow students and the instructor.
3. Print the first few rows of that data frame.

## Element data types

You can learn more about all of the [pandas data types](https://numpy.org/doc/stable/user/basics.types.html), but the key idea is that we must distinguish between integers, floating-point values (reals), boolean, strings, and datetime.

|Description| Python | Pandas|
| ----------- | --------- | ---- |
|Integers| `int`|`int64`|
|Text| `str`| `object`|
|Double/Float| `float`|`float64` |
|Boolean (T/F)| `bool`| `bool`|
|Date/Time| `datetime` | `datetime64`|
|Categorical| n/a | `category` (held internally as an integer)|

The reason that we emphasize knowing types is that these objects behave differently and respond to a different set of functions.

In [11]:
type([1,2,3]), type(np.array([1,2,3]))

(list, numpy.ndarray)

In [18]:
type(df_cars), type(df_cars['MPG'])

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [20]:
type(3.14159), df_cars['MPG'].dtype

(float, dtype('float64'))

### Reading in nonnumeric data

Let's look at some public domain data from [Kaggle](https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city). (The license says public domain so it should be okay to host the 100 rows in this repository for educational purposes.)  The goal is to look at date-related, string and  [categorical data types](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html).

In [31]:
df_uber = pd.read_csv("data/kaggle-uber-other-federal.csv")
df_uber.head(3)

,Date,Time,PU_Address,DO_Address,Routing Details,PU_Address.1,Status
0,07/01/2014,07:15 AM,"Brooklyn Museum, 200 Eastern Pkwy., BK NY;","1 Brookdale Plaza, BK NY;","PU: Brooklyn Museum, 200 Eastern Pkwy., BK NY;...","Brooklyn Museum, 200 Eastern Pkwy., BK NY; DO:...",Cancelled
1,07/01/2014,07:30 AM,"33 Robert Dr., Short Hills NJ;","John F Kennedy International Airport, vitona A...","PU: 33 Robert Dr., Short Hills NJ; DO: John F ...","33 Robert Dr., Short Hills NJ; DO: John F Kenn...",Arrived
2,07/01/2014,08:00 AM,"60 Glenmore Ave., BK NY;","2171 Nostrand Ave., BK NY;","PU: 60 Glenmore Ave., BK NY; DO: 2171 Nostrand...","60 Glenmore Ave., BK NY; DO: 2171 Nostrand Ave...",Assigned

In [22]:
df_uber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             99 non-null     object
 1   Time             99 non-null     object
 2   PU_Address       99 non-null     object
 3   DO_Address       98 non-null     object
 4   Routing Details  99 non-null     object
 5   PU_Address.1     99 non-null     object
 6   Status           99 non-null     object
dtypes: object(7)
memory usage: 5.5+ KB

Ooops.  It read everything in as a string (`object`). Let's try this again being more specific:

In [28]:
df_uber = pd.read_csv("data/kaggle-uber-other-federal.csv",
                      parse_dates=['Date','Time'],
                      dtype={'Status':'category'})
df_uber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             99 non-null     datetime64[ns]
 1   Time             99 non-null     datetime64[ns]
 2   PU_Address       99 non-null     object
 3   DO_Address       98 non-null     object
 4   Routing Details  99 non-null     object
 5   PU_Address.1     99 non-null     object
 6   Status           99 non-null     category
dtypes: category(1), datetime64[ns](2), object(4)
memory usage: 5.0+ KB

In [30]:
df_uber.head(2)

,Date,Time,PU_Address,DO_Address,Routing Details,PU_Address.1,Status
0,2014-07-01,2020-08-15 07:15:00,"Brooklyn Museum, 200 Eastern Pkwy., BK NY;","1 Brookdale Plaza, BK NY;","PU: Brooklyn Museum, 200 Eastern Pkwy., BK NY;...","Brooklyn Museum, 200 Eastern Pkwy., BK NY; DO:...",Cancelled
1,2014-07-01,2020-08-15 07:30:00,"33 Robert Dr., Short Hills NJ;","John F Kennedy International Airport, vitona A...","PU: 33 Robert Dr., Short Hills NJ; DO: John F ...","33 Robert Dr., Short Hills NJ; DO: John F Kenn...",Arrived

The bold numbers on the left are the index, and they don't have to be integers or even in any kind of order.